services:
  postgres_db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: procurement_sql
    ports:
      - "5432:5432"

  mongo_db:
    image: mongo:latest
    ports:
      - "27017:27017"

  # Optional: For P5 Observability
  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686" # UI
      - "14268:14268" # Collector