replicaCount: 1

image:
  repository: azizdevops88/agri-backend
  tag: "187143d3e680498dbb7982ad2624cc8806d838a7"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

metrics:
  enabled: true
  path: /metrics
  port: 8080

monitoring:
  enabled: true
  path: /metrics