replicaCount: 1

image:
  repository: azizdevops88/agri-backend
  tag: 1.0.4
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

metrics:
  enabled: true
  path: /metrics
  port: 8080

monitoring:
  enabled: true
  path: /metrics