name: Agri-Backend Build and Push

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        type: choice
        required: true
        options:
          - dev
          - staging
          - prod
        default: dev
      deploy:
        description: "Deploy after build?"
        type: boolean
        required: true
        default: false

jobs:
  build-and-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/agri-backend:latest

      - name: Update Helm Chart Tag
        run: |
          # Update the tag in values.yaml
             sed -i "s|tag: .*|tag: ${{ github.sha }}|" agri-chart/values.yaml
             git config --global user.name "github-actions"
             git config --global user.email "actions@github.com"
             git add agri-chart/values.yaml
             git commit -m "chore: update image tag to ${{ github.sha }} [skip ci]"
             git push