name: Agri-Backend Build and Push

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        type: choice
        required: true
        options:
          - dev
          - staging
          - prod
        default: dev

      deploy:
        description: "Deploy after build?"
        type: boolean
        required: true
        default: false

jobs:
  build-and-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # We use your Docker Username and the Agri-Backend name
          tags: ${{ secrets.DOCKER_USERNAME }}/agri-backend:${{ github.sha }}

      - name: Update Deployment YAML Tag
        run: |
          # Since you aren't using Helm yet, we will update your k8s-deployment.yaml directly
          # This find the 'image:' line and updates it with the new version (SHA)
          sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/agri-backend:${{ github.sha }}|" k8s-deployment.yaml
          
          # Configure Git to push the change back to the repo
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add k8s-deployment.yaml
          git commit -m "chore: update k8s image tag to ${{ github.sha }} [skip ci]"
          git push